

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Ubuntu-Regular;
  src: url('../fonts/ubuntu/Ubuntu-Regular.ttf'); 
}

@font-face {
  font-family: Ubuntu-Bold;
  src: url('../fonts/ubuntu/Ubuntu-Bold.ttf'); 
}

@font-face {
  font-family: JosefinSans-Bold;
  src: url('../fonts/JosefinSans/JosefinSans-Bold.ttf'); 
}



/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
}


body {
  width: 100%;
  background-color:#404040;
  
    height: auto;
  font-family: Ubuntu-Regular, sans-serif;
}

#cont {

background-image:url("../images/bgim.jpg") ; 
 width: 70%;
 height: auto; 
  margin-left: 15%;

/* margin:auto;*/
 
}
.container {
  background-color: white;
  height: auto;
  width: 90%;

}
.gauche {
 background-color:#0D263D;
 height:500px;
 overflow:hidden; 

}
.gauche span {
  position: relative;
  color: #fff;
  font-weight: bold;
  font-size:25px; 
  line-height: 10;
  left: 2;
}
.arc{
 background-color:#fff;
 height:260px;
position: absolute;
margin-top: -90%;
margin-left: 1%;
width: 88%;
border-top-left-radius: 50%;
border-top-right-radius: 50%;
}
#logosa{
width: 60%;
position: absolute;
margin-top: -90%;
margin-left: 10%;
 }

#av{
width: 45%;
margin-left: 35%;
 }

  /*debut  de la partie inscription */





/*---------------------------------------------*/
a {
  font-family: Ubuntu-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #1b3815;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  margin: 0px;
}

p {
  font-family: Ubuntu-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul, li {
  margin: 0px;
  list-style-type: none;
}


/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}


input::-webkit-input-placeholder { color: #1b3815;}
input:-moz-placeholder { color: #1b3815;}
input::-moz-placeholder { color: #1b3815;}
input:-ms-input-placeholder { color: #1b3815;}

textarea::-webkit-input-placeholder { color: #1b3815;}
textarea:-moz-placeholder { color: #1b3815;}
textarea::-moz-placeholder { color: #1b3815;}
textarea:-ms-input-placeholder { color: #1b3815;}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Ubuntu-Regular;
  font-size: 15px;
  color: #999999;
  line-height: 1.4;
}

.txt2 {
  font-family: Ubuntu-Regular;
  font-size: 15px;
  color: #57b846;
  line-height: 1.4;
}

.txt3 {
  font-family: Ubuntu-Bold;
  font-size: 15px;
  color: #0D263D;
  line-height: 1.4;
  text-transform: uppercase;
  margin-left: 30%;
  margin-top: 5%;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
  height: auto;

}

.container-login100 {
  width: 100%;  
  /*min-height: 100vh;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: relative;
  background-color: #fff;
  height: auto;
}

.wrap-login100 {
  width: 100%;
  height: auto;
  background: #fff;
  border-radius: 20px;
  padding-bottom: 10px;
  overflow: hidden;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}


/*==================================================================
[ Form ]*/

.login100-form {
  width: 100%;
  position: relative;
}

.login100-form-title {
  font-family: JosefinSans-Bold;
  font-size: 17px;
  color: #fff;
  line-height: 1.2;
  text-align: center;

  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #0D263D;
  padding-top: 10px;
  padding-bottom: 20px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  background-color: #fff;
  border-radius: 27px;
  position: relative;
  display: flex;
  z-index: 1;
}

.input100 {
  font-family: Ubuntu-Bold;
  font-size: 15px;
  color: #1b3815;
  line-height: 1.2;

  position: relative;
  display: block;
  width: 100%;
  height: 55px;
  background: #ebebeb;
  border-radius: 27px;
  padding: 0 35px 0 35px;
}

.inputf{
  font-family: Ubuntu-Bold;
  font-size: 17px;
  color: #1b3815;
  line-height: 1.2;
margin-top: 10%;
margin-left: -10%;
  position: relative;
  display: block;
  width: 130%;
  height: 55px;

  padding: 0 35px 0 35px;
}


/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input100 {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 31px;
  background-color: #ebebeb;
  pointer-events: none;
  
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 {
  width: calc(100% + 20px);
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  background-color: #0D263D;
  border-radius: 25px;
 margin-top: 7%;
  font-family: Ubuntu-Bold;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background-color: black;
}


/*------------------------------------------------------------------
[ Alert validate ]*/


/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/


@media   (min-width:940px) and (max-width:1150px)  {
 .container {
  background-color: white;
  height: 700px;
  width: 90%;

}
#cont {

background-image:url("../images/bgim.jpg") ; 
 width: 100%;
 height: auto; 
 margin-top: 2%;
  margin-left: 0.5%;
/* margin:auto;*/
 
}
.gauche {
 background-color:#0D263D;
 height:600px;
 

}
.arc{
 background-color:#fff;
 height:350px;
position: absolute;
margin-top: -100%;
margin-left: 1%;
width: 88%;
border-top-left-radius: 50%;
border-top-right-radius: 50%;
}
#logosa{
width: 70%;
position: absolute;
margin-top: -108%;
margin-left: 10%;
 }
 .gauche span {
  position: absolute;
  color: #fff;
  font-weight: bold;
  font-size:25px; 
  line-height: 8;
  left: 7%;
}

.login100-form {
    padding-left: 15px;
    padding-right: 15px;
  }

 
}
@media   (min-width:768px) and (max-width:940px)  {

.container {
  background-color: white;
  height: 700px;
  width: 90%;

}
#cont {

background-image:url("../images/bgim.jpg") ; 
 width: 100%;
 height: auto; 
 margin-top: 2%;
  margin-left: 0.5%;
/* margin:auto;*/
 
}
.gauche {
 background-color:#0D263D;
 height:600px;
 

}
.arc{
 background-color:#fff;
 height:300px;
position: absolute;
margin-top: -100%;
margin-left: 1%;
width: 84%;
border-top-left-radius: 50%;
border-top-right-radius: 50%;
}
#logosa{
width: 70%;
position: absolute;
margin-top: -108%;
margin-left: 10%;
 }
 .gauche span {
  position: absolute;
  color: #fff;
  font-weight: bold;
  font-size:25px; 
  line-height: 10;
  left: 2.5%;
}

.login100-form {
    padding-left: 15px;
    padding-right: 15px;
  }
.inputf{
  font-family: Ubuntu-Bold;
  font-size: 13px;
  color: #1b3815;
  line-height: 1.2;
margin-top: 10%;
margin-left: -20%;
  position: relative;
  display: block;
  width: 130%;
  height: 55px;

  padding: 0 35px 0 35px;
}

}
@media   (min-width:649px) and (max-width:767px)  
{  

.container {
  background-color: white;
  height: 800px;
  width: 90%;

}
#cont {

background-image:url("../images/bgim.jpg") ; 
 width: 100%;
 height: auto; 
 margin-top: 2%;
  margin-left: 0.5%;
/* margin:auto;*/
 
}
.gauche {
 background-color:#0D263D;
 height:100px;
 

}
.arc{
 background-color:#fff;
 height:105px;
position: absolute;
margin-top: -20%;
margin-left: 1%;
width: 30%;
border-top-right-radius: 50%;
border-bottom-right-radius: 50%;

}
#logosa{
width: 12%;
position: absolute;
margin-top: -20%;
margin-left: 10%;
 }
 .gauche span {
  position: absolute;
  color: #fff;
  font-weight: bold;
  font-size:25px; 
  line-height: 2;
  left: 35%;
}

.login100-form {
    padding-left: 15px;
    padding-right: 15px;
  }


}
@media   (min-width:576px) and (max-width:649px)  
{  


.container {
  background-color: white;
  height: auto;
  width: 90%;

}
#cont {

background-image:url("../images/bgim.jpg") ; 
 width: 100%;
 height: auto; 
 margin-top: 2%;
  margin-left: 0.5%;
/* margin:auto;*/
 
}
.gauche {
 background-color:#0D263D;
 height:100px;
 

}
.arc{
 background-color:#fff;
 height:105px;
position: absolute;
margin-top: -21%;
margin-left: 1%;
width: 30%;
border-top-right-radius: 50%;
border-bottom-right-radius: 50%;

}
#logosa{
width: 12%;
position: absolute;
margin-top: -22%;
margin-left: 9%;
 }
 .gauche span {
  position: absolute;
  color: #fff;
  font-weight: bold;
  font-size:25px; 
  line-height: 2;
  left: 35%;
}

.login100-form {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* smartphone */



@media   (min-width: 320px) and (max-width : 576px)
{  

.container {
  background-color: white;
  height: 800px;
  width: 90%;

}
#cont {

background-image:url("../images/bgim.jpg") ; 
 width: 100%;
 height: auto; 
 margin-top: 2%;
  margin-left: 0.5%;
/* margin:auto;*/
 
}
.gauche {
 background-color:#0D263D;
 height:100px;
 

}
.arc{
 background-color:#fff;
 height:105px;
position: absolute;
margin-top: -22%;
margin-left: 1%;
width: 30%;
border-top-right-radius: 50%;
border-bottom-right-radius: 50%;

}
#logosa{
width: 14%;
position: absolute;
margin-top: -23%;
margin-left: 7%;
 }
 .gauche span {
  position: absolute;
  color: #fff;
  font-weight: bold;
  font-size:25px; 
  line-height: 2;
  left: 35%;
}

.login100-form {
    padding-left: 15px;
    padding-right: 15px;
  }
.inputf{
  font-family: Ubuntu-Bold;
  font-size: 13px;
  color: #1b3815;
  line-height: 1.2;
margin-top: 10%;
margin-left: -25%;
  position: relative;
  display: block;
  width: 130%;
  height: 55px;

  padding: 0 35px 0 35px;
}
}

  /* fin de la partie inscription */