

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Ubuntu-Regular;
  src: url('../fonts/ubuntu/Ubuntu-Regular.ttf'); 
}

@font-face {
  font-family: Ubuntu-Bold;
  src: url('../fonts/ubuntu/Ubuntu-Bold.ttf'); 
}

@font-face {
  font-family: JosefinSans-Bold;
  src: url('../fonts/JosefinSans/JosefinSans-Bold.ttf'); 
}



/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
}


body {
  width: 100%;
  background-color:#404040;
  
    height: auto;
  font-family: Ubuntu-Regular, sans-serif;
}

#cont {

background-image:url("../images/bgim.jpg") ; 
 width: 70%;
 height: auto; 
 margin-top: 2%;
  margin-left: 15%;

/* margin:auto;*/
 
}
.container-fluid {
  background-color: white;
  height: auto;
  width: 90%;

}
.haut {
  background-color:#0D263D;
    height: 75px;
}
.haut span {
  position: relative;
  color: #fff;
  font-weight: bold;
  font-size:25px; 
  line-height: 2;
  left: 20%;
  width: 100%;

}
#logosa{
width: 130%;
position: relative;

 }
 #deco{
width: 130%;
margin-top: 50%;
 }
.navigation {
 background-color:#0D263D; /*#E5E5E5;*/ 
 height: auto;
 margin-top: 2%;
}

.nav-item {
  text-decoration-color: red;
  font-size: 18px;

}

.content {
  box-shadow: 1px 1px 12px #555;
  background: #fff;
  border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  margin-left: 10%;
  margin-top: 5%;
  padding-top: 4%;
  padding-bottom: 10%;
  position: relative;
  width: 85%;
  height: auto;
 /*display: flex;*/
/*display: -webkit-flex;*/

}

#av{
width: 40%;
margin-left: 35%;
 }
/* partie creer compte */ 

/*---------------------------------------------*/

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #1b3815;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  margin: 0px;
}


/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}


input::-webkit-input-placeholder { color: #1b3815;}
input:-moz-placeholder { color: #1b3815;}
input::-moz-placeholder { color: #1b3815;}
input:-ms-input-placeholder { color: #1b3815;}

textarea::-webkit-input-placeholder { color: #1b3815;}
textarea:-moz-placeholder { color: #1b3815;}
textarea::-moz-placeholder { color: #1b3815;}
textarea:-ms-input-placeholder { color: #1b3815;}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Ubuntu-Regular;
  font-size: 15px;
  color: #999999;
  line-height: 1.4;
}

.txt2 {
  font-family: Ubuntu-Regular;
  font-size: 15px;
  color: #57b846;
  line-height: 1.4;
}

.txt3 {
  font-family: Ubuntu-Bold;
  font-size: 15px;
  color: #0D263D;
  line-height: 1.4;
  text-transform: uppercase;
  margin-left: 30%;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.enr {
  color: white; background-color: #0D263D;
  width: 20%; 
  height: 40px; 
  border-radius: 10px;
  font-size: 17px;
  margin-top:10%;
  margin-left:75%;
  position: relative;
  font-family: Ubuntu-Bold;
}

.container-login100 {
  width: 80%;  
  /*min-height: 100vh;*/
  margin-left: 10%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: relative;
  background-color: #fff;
  height: auto;
}

.wrap-login100 {
  width: 100%;
  height: auto;
  background: #fff;
  border-radius: 20px;
  padding-bottom: 10px;
  overflow: hidden;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}


/*==================================================================
[ Form ]*/

.login100-form {
  width: 100%;
  position: relative;
}

.login100-form-title {
  font-family: JosefinSans-Bold;
  font-size: 17px;
  color: #fff;
  line-height: 1.2;
  text-align: center;

  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #0D263D;
  padding-top: 10px;
  padding-bottom: 20px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  background-color: #fff;
  border-radius: 27px;
  position: relative;
  display: flex;
  z-index: 1;
}

.input100 {
  font-family: Ubuntu-Bold;
  font-size: 15px;
  color: #1b3815;
  line-height: 1.2;

  position: relative;
  display: block;
  width: 100%;
  height: 55px;
  background: #ebebeb;
  border-radius: 27px;
  padding: 0 35px 0 35px;
}

.inputf{
  font-family: Ubuntu-Bold;
  font-size: 17px;
  color: #1b3815;
  line-height: 1.2;
margin-top: 10%;
margin-left: -10%;
  position: relative;
  display: block;
  width: 130%;
  height: 55px;

  padding: 0 35px 0 35px;
}


/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input100 {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 31px;
  background-color: #ebebeb;
  pointer-events: none;
  
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 {
  width: calc(100% + 20px);
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  background-color: #0D263D;
  border-radius: 25px;
 margin-top: 7%;
  font-family: Ubuntu-Bold;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background-color: black;
}

/* fin partie creer compte */
/* responsivite */

@media   (min-width:940px) and (max-width:1150px)  
{  
#logosa{
width: 200%;
position: relative;
margin-left: -100%;
margin-top: -30%;

 }
 #deco{
width: 200%;
position: relative;
 margin-top: 40%;
 margin-left: 10%;
 }
 .haut {
  background-color:#0D263D;
    height: 65px;
    width: 100%;
    margin-top: 0%;
    margin-left: -2%;
}

 .haut span {
  position: relative;
  color: #fff;
  font-weight: bold;
  font-size:20px; 
  line-height: 2;
  left: 10%;
  width: 100%;
  color: #fff;

}
}
@media   (min-width:769px) and (max-width:940px)  
{  
#logosa{
width: 300%;
position: relative;
margin-left: -140%;
margin-top: -30%;

 }
 #deco{
width: 300%;
position: relative;
 margin-top: 40%;
 margin-left: 10%;
 }
 .haut {
  background-color:#0D263D;
    height: 60px;
    width: 100%;
    margin-top: 0%;
    margin-left: -2%;
}

 .haut span {
  position: relative;
  color: #fff;
  font-weight: bold;
  font-size:20px; 
  line-height: 2;
  left: 10%;
  width: 100%;
  color: #fff;

}
}

@media   (width:768px) {

#logosa{
width: 500%;
position: relative;
margin-left: -300%;
margin-top: -20%;

 }
 #deco{
width: 500%;
position: relative;
 margin-top: 40%;
 margin-left: -150%;
 }
 .haut {
  background-color:#0D263D;
    height: 50px;
    width: 100%;
    }
  .haut span {
  position: relative;
  color: #fff;
  font-weight: bold;
  font-size:20px; 
  line-height: 2;
  left: 10%;
  width: 100%;
  color: #fff;

}

}

@media   (min-width:649px) and (max-width:767px)  
{  
#logosa{
width: 130%;
position: relative;
margin-left: -50%;
margin-top: -20%;

 }
 #deco{
width: 110%;
position: relative;
 margin-top: 40%;
 margin-left: 10%;
 }
 .haut {
  background-color:#0D263D;
    height: 70px;
    width: 100%;
    margin-top: 0%;
    margin-left: -2%;
}

 .haut span {
  position: relative;
  color: #fff;
  font-weight: bold;
  font-size:15px; 
  line-height: 2;
  left: 10%;
  width: 100%;
  color: #fff;

}
.nav-item {

  font-size: 15px;
}
}


@media   (min-width:576px) and (max-width:649px)  
{  
#logosa{
width: 130%;
position: relative;
margin-left: -80%;

 }
 #deco{
width: 150%;
position: relative;
 margin-top: 2%;
 margin-left: 20%;
 }
 .haut {
  background-color:#0D263D;
    height: 60px;
    width: 100%;
    margin-top: 0%;
    margin-left: -2%;
}

 .haut span {
  position: relative;
  color: #fff;
  font-weight: bold;
  font-size:12px; 
  line-height: 2;
  left: 10%;
  width: 100%;
  color: #fff;

}
}

/* smartphone */



@media   (min-width: 320px) and (max-width : 576px)
{  
#logosa{
width: 15%;
position: relative;
margin-left: -5%;

 }
 #deco{
width: 15%;

 margin-top: -50%;
 margin-left: 90%;
 }
 .haut {
  background-color:#0D263D;
    height: 60px;
    width: 70%;
    margin-top: -25%;
    margin-left: 15%;
}

 .haut span {
  position: relative;
  color: #fff;
  font-weight: bold;
  font-size:11px; 
  line-height: 2;
  left: 10%;
  width: 100%;

}
}